body {
    background-color: #ffffff;
    color: var(--primery-color-text);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}
img {
    display: block;
}

button {
    cursor: pointer;
    font-family: inherit;
    color: var(--link-color);
    background: var(--bg-link-color);
    font-family: 'Roboto', sans-serif;
    border: 0px;
}

li {
    list-style: none;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

a:hover {
    text-decoration: none;
}